.home-hero {
  text-align: center;
  margin-top: 100px;
}

.home-buttons a {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  background: #7a5b4a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.home-buttons a:hover {
  background: #4a3b33;
}
